.e0 {
    width: 1226px;
    overflow: hidden;
}

.e6 {
    height: 63px;
    line-height: 55px;
    font-size: 13px;
}

.e7 {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 63px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0 0 0 / 7%);
}

/* 吸附样式 */
.xifu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 222;
    width: 100%;
}

.e8 {
    width: 1226px;
    height: 800px;
    margin: 32px auto 12px;
    overflow: hidden;
}

.e9 {
    width: 606px;
    height: 755px;
    /* background-color: #2D9B01; */
}

.f1 {
    width: 600px;
    height: 755px;
}

.f2 {
    font-size: 24px;

}

.f3 {
    font-size: 14px;
    padding-top: 8px;
    color: #B0B0B0;
}

.f4 {
    color: #FF4a00;
}

.f5 {
    font-size: 14px;
    color: #B0B0B0;
    text-decoration: line-through
}

.f6 {
    width: 480px;
    padding: 30px 50px;
    border: 1px solid #B0B0B0;
    background-color: #fafafa;
}

.f7 {
    color: #ff6700;
    border: 1px solid #ff6700;
    padding: 5px 10px;
    width: 292px;
    height: 41px;
    line-height: 41px;
}

.f8 {
    overflow: hidden;
    border: 0;
}

.f9 {
    width: 300px;
    height: 54px;
    line-height: 54px;
    background-color: #ff6900;
    color: #FFFFFF;
    border: 0;
}

.l1 {
    width: 143px;
    height: 54px;
    line-height: 54px;
    background-color: #B0B0B0;
    color: #FFFFFF;
    border: 0;
}

.l2 li {
    float: left;
    padding: 0 56px;
}

.l2 {
    width: 510px;
    margin: 0 auto;
    overflow: hidden;
    height: 58px;
    line-height: 58px;
}

/* 通用底部 */
.B0 {
    width: 1226px;
    margin: 0 auto;
    overflow: hidden;
}

.B-1 {
    background-color: #FAFAFA;
}

.B1 li {
    float: left;
    width: 244px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid black;
}

.B2 {
    margin: 40px 100px 40px 0;
}

.B3 {
    margin: 40px 0 40px;
    text-align: center;
}

.B2 li {
    padding-bottom: 10px;
}

.B4 {
    padding: 6px 8px;
    border: 1px solid orange;
}

.B5 {
    margin-left: 30px;
}

.img {
    width: 560px;
    height: 560px;
}

.addvantage {
    padding-top: 10px;
    padding-right: 56px;
}

.addvantage span {
    margin-right: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #b0b0b0;
    font-size: 14px;
}

.addvantage span img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.func {
    margin-top: 17px;

}

.func>span {
    padding: 0 10px;
    border-right: 1px solid #e0e0e0;
    font-size: 12px;
}

.func>span:last-child {
    border-right: 0 solid #000;
}

.func>span a {
    color: #616161;
    text-decoration: none;
}

.func>span a:hover {
    color: #ff6700;
}
.color{
    margin-top: 10px;
}
.color>span {
    display: inline-block;
    cursor: pointer;
    color: #757575;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    width: 284px;
    height: 41px;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
}

.color span:hover {
    color: #ff6700;
    border: 1px solid #ff6700;
}

.color .active {
    color: #ff6700;
    border: 1px solid #ff6700;
}

.color>span:first-child {
    margin-right: 10px;
}
i{
    font-style: normal;
}
.preSpan{
    display: none;
}
button{
    cursor: pointer;
    transition: all .3s;
}
.btn-add:hover{
    background-color: #f25807;
}
.like:hover{
    background-color: #757575;
}